<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="mynest">
      <file>tests/DayTest.php</file>
      <file>tests/ScheduleTest.php</file>
      <file>tests/WoodStoveTest.php</file>
      <file>tests/ZoneTest.php</file>
      <file>tests/CacheTest.php</file>
      <file>tests/CycleTest.php</file>
      <file>tests/CyclesTest.php</file>
      <file>tests/ControllerTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
